@model LivrariaControleEmprestimos.DATA.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <div>
        <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model.Id">Alterar</a>
        <a class="btn btn-primary" asp-action="Index">Voltar</a>
    </div>
    <br />
    <div class="card">
        <div class="card-header"> Informações pessoais</div>
        <div class="card-body row">
            <div class="col-md">
                <div class="form-group">
                    <label>@Html.DisplayNameFor(model => model.Nome)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.Nome)" />
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label>@Html.DisplayNameFor(model => model.CPF)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.CPF)" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header"> Endereço</div>
        <div class="card-body row">
            <div class="col-md">
                <div class="form-group">
                    <label>@Html.DisplayNameFor(model => model.Endereco)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.Endereco)" />
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label>@Html.DisplayNameFor(model => model.Cidade)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.Cidade)" />
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label>@Html.DisplayNameFor(model => model.Bairro)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.Bairro)" />
                </div>
            </div>
        </div>
    </div>

</div>

